@import url(https://weloveiconfonts.com/api/?family=entypo);

body{
	margin:0px;
	padding:0px;
	background-image: url(background.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}

.background{
	width: 100%;
	background-color: black;
	opacity: 0.8;
	height: auto;
	
}
.top p{
	width:100%;
	font-family: sans-serif;
	font-size: 1.1em;
	color: white;
	text-align: right;
	padding-right: 40px;
	margin-bottom:0px;
	
}


.display-4 img{
	margin-left: 60px;
	padding: 10px;
	size: 10px;
	width: 30%;
	filter: brightness(150%);
	
}

.modify{
	text-align: center;
	background: #ff615d;
	opacity: 0.9;
	z-index: 30;
	position:relative;
}


.navbar .navbar-nav{
	margin: 0 auto;
	
}

.navbar .nav-item{
	width: 120px;
	margin: 7px;
	padding: 7px;
	white-space: nowrap;
	font-weight: bold;
	
}

.navbar .nav-item a{
	color: #FFF !important;
	
	
}

.navbar .dropdown-menu{
	position: absolute;
	background: #ff615d;
	opacity: 0.8;
	border: none;
}

.navbar .dropdown-item{
	display: block;
	border-radius: 0 !important;
	width: 200px;
	padding: 10px;
	margin-left: 25px;
	position: relative;
	
}
.navbar .dropdown-item:hover{
	background-color: black;
	width: 200px;
	
}

.navbar .fa{
	margin-right: 5px;
	
}

.card-body{
	background: rgba(255, 114, 111, 0.5);
	width: 50%;
	height: 480px;
	text-align: center;
	margin-left: 30%;
	z-index: 20;
	position: relative;
	pointer-events: auto;

}

.card-body h4{
	margin-top: 75px;
	font-size: 3em;
	font-family: Impact, Charcoal, sans-serif;
	text-align: center;
	padding-top: 30px;
	font-style: italic;
	
}

.card-body h5{
	font-family: sans-serif; 
	font-size: 1.5em; 
	color: white;
	padding-top: 10px;
	
}

.card-body h6{
	font-family: sans-serif; 
	font-size: 1.0em; 
	color: white;
	padding-top: 5px;
	
}

.card-body a{
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	color: white;
	background-color: black;
	pointer-events: auto;
}


.card-body a:hover{
	background: #ff726f;
	border-radius: 3px;
	text-decoration: none;
	color: white;
	transition: 1s;	
}

.bottom-line{
	background: #ff615d;
	text-align: center;
}

.bottom-line h3{
	font-size: 25px;
	display: inline-flex;
	list-style: none;
	color: #dc4842;
	position: sticky;
	color: white;
	white-space: nowrap;
}

.swiper-slide{
	width: 250px !important;
	height: 600px;
	
}

.swiper-wrapper{
	height: 500px;
}

.slider-box{
	margin: 20px;
	height: 350px;
	width: 250px;
	position: relative;
	background-color:#FFFFFF;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align:center;
	border: 1px solid rgba(187,187,187,1.00);
}

.slider-box a{
	text-decoration: none;
	text-align: center;
}

.img-box{
	height: 170px;
}

.img-box img{
	height:auto;
	max-width: 100%;
	max-height: 100%;
}

.time{
	position: absolute;
	top: 0px;
	right:20px;
	color: #f16007;
}

.detail{
	display:flex;
	flex-direction:column;
	align-items:center;
	box-sizing:border-box;
	font-size:15px;
	line-height:35px;
}

.price{
	color: #FFFFFF;
	background-color: #FF555b;
	line-height:20px;
}

.price:hover{
	text-decoration: none;
	color: black;
}

.cart{
	position:absolute;
	bottom:0px;
	height:45px;
	background-color: #ff696e;
	width:100%;
	display:flex;
	justify-content: center;
	align-items:center;
}
.cart a{
	color: #FFFFFF;
}
.cart a:hover{
	color: #FFFFFF;
}
.slider-box:hover{
	box-shadow:2px 2px 12px rgba(47,47,47,0.40);
}

.slider-box:hover, .img-box img{
	transform:scale(1.07);
	transition:all ease 0.4s;
	
}

.cart:hover{
	transform: scale(1.1);
	background-color: #fe9048;
	box-shadow: 2px 2px 12px rgba(47,47,47,0.40);
	transition: all ease 0.1s;
}


.bottom-box{
	margin-top: 100px;
	height: 300px;
	position: relative;
	background-color: black;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align:center;
	border:1px solid rgba(187,187,187,0.40);
	opacity: 0.70;
}

.bottom-box h2{
	text-align:center;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	font-weight: bold;
	font-size: 3em;
	color: white;
	bottom: 5;
	position:relative;
	display:inline-block;
	
}


.text h3{
	text-align:left;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: white;
	bottom: 5;
	position:relative;
	margin-left:20;
	margin-right:15;
	
	display:inline-block;
}

.text h3:hover{
	cursor: pointer;
	color: #fff;
	transform: scale(1.15);
	transition: 1s;
	
}
#wrapper{
	
	margin-bottom: 20;
}

.box{
	width: 70px;
	height: 50px;
	border-radius: 50px;
	font-family: entypo;
	color: #212121;
	background: #1540ff;
	text-align:center;
	line-height: 50px;
	font-size: 25px;
	display: block;
	cursor: pointer;
	margin: 10px;
	transition: 1s;
	display:inline-block;
  	vertical-align:middle;
}

.box1{
	width: 70px;
	height: 50px;
	border-radius: 50px;
	font-family: entypo;
	color: #212121;
	background: red;
	text-align:center;
	line-height: 50px;
	font-size: 25px;
	display: block;
	cursor: pointer;
	margin: 10px;
	transition: 1s;
	display:inline-block;
  	vertical-align:middle;
  	opacity: 70%;
}

.box2{
	width: 70px;
	height: 50px;
	border-radius: 50px;
	font-family: entypo;
	color: #212121;
	background: #329deb;
	text-align:center;
	line-height: 50px;
	font-size: 25px;
	display: block;
	cursor: pointer;
	margin: 10px;
	transition: 1s;
	display:inline-block;
  	vertical-align:middle;
}

.box3{
	width: 70px;
	height: 50px;
	border-radius: 50px;
	font-family: entypo;
	color: #212121;
	background: #dd4f43;
	text-align:center;
	line-height: 50px;
	font-size: 25px;
	display: block;
	cursor: pointer;
	margin: 10px;
	transition: 1s;
	display:inline-block;
  	vertical-align:middle;
  	opacity: 80%;
}

.box:hover{
	color: #fff;
	transform: scale(1.15);
	transition: 1s;
} 

.box1:hover{
	color: #fff;
	transform: scale(1.15);
	transition: 1s;
} 

.box2:hover{
	color: #fff;
	transform: scale(1.15);
	transition: 1s;
} 

.box3:hover{
	color: #fff;
	transform: scale(1.15);
	transition: 1s;
} 

.facebook{
	color: light-blue;
}

#facebook:hover{
	background-color: rgb(59, 89, 152);
	box-shadow: inset 0 0 0 22px #385795;
	transform: rotate(360deg) scale(1.15);
	transition: 1s;	
}

#instagram:hover{
	background-color: rgb(245, 96, 64);
	box-shadow: inset 0 0 0 22px #385795;
	transform: rotate(360deg) scale(1.15);
	transition: 1s;	
}

#twitter:hover{
	background-color: rgb(85, 172, 238);
	box-shadow: inset 0 0 0 22px #385795;
	transform: rotate(360deg) scale(1.15);
	transition: 1s;	
}

#google:hover{
	background-color: rgb(221, 75, 57);
	box-shadow: inset 0 0 0 22px #385795;
	transform: rotate(360deg) scale(1.15);
	transition: 1s;	
}









@media only screen and (max-width: 992px) {
.background{
	width: 100%;
	background-color: black;
	opacity: 0.8;
	height: auto;
	
}
.top p{
	width:100%;
	font-family: sans-serif;
	font-size: 0.8em;
	color: white;
	text-align: right;
	margin-bottom:0px;
	
}

.navbar .nav-item{
	width: 90px;
	margin: 10px;
	padding: 7px;
	white-space: nowrap;
	font-weight: bold;
	
}

.navbar .nav-item a{
	color: #FFF !important;
	
	
}

.card-body{
	background: rgba(255, 114, 111, 0.5);
	width: 80%;
	height: 300px;
	text-align: center;
	margin-left: 30%;
	z-index: 20;
	position: relative;
	pointer-events: auto;

}
.card-body h4{
	margin-top: 30px;
	font-size: 2.2em;
	font-family: Impact, Charcoal, sans-serif;
	text-align: center;
	padding-top: 30px;
	font-style: italic;
	
}

.card-body h5{
	font-family: sans-serif; 
	font-size: 0.8em; 
	color: white;
	padding-top: 10px;
	
}

.card-body h6{
	font-family: sans-serif; 
	font-size: 0.5em; 
	color: white;
	padding-top: 5px;
	
}

.card-body a{
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	color: white;
	background-color: black;
	pointer-events: auto;
}


.card-body a:hover{
	background: #ff726f;
	border-radius: 3px;
	text-decoration: none;
	color: white;
	transition: 1s;	
}

.display-4 img{
	size: 10px;
	width: 50%;
	align: center;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	
}

.bottom-line h3{
	font-size: 20px;
	display: inline-flex;
	list-style: none;
	color: #dc4842;
	position: sticky;
	color: white;
	white-space: nowrap;
}


}

@media only screen and (max-width: 768px) {
.background{
	width: 100%;
	background-color: black;
	opacity: 0.6;
	height: auto;
	
}
.top p{
	width:100%;
	font-family: sans-serif;
	font-size: 0.7em;
	color: white;
	text-align: right;
	margin-bottom:0px;
	
}
	
.card-body{
	background: rgba(255, 114, 111, 0.5);
	width: 90%;
	height: 300px;
	text-align: center;
	margin-left: 30%;
	z-index: 20;
	position: relative;
	pointer-events: auto;

}


.card-body h4{
	margin-top: 30px;
	font-size: 2.2em;
	font-family: Impact, Charcoal, sans-serif;
	text-align: center;
	padding-top: 30px;
	font-style: italic;
	
}

.card-body h5{
	font-family: sans-serif; 
	font-size: 0.8em; 
	color: white;
	padding-top: 10px;
	
}

.card-body h6{
	font-family: sans-serif; 
	font-size: 0.5em; 
	color: white;
	padding-top: 5px;
	
}

.card-body a{
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	color: white;
	background-color: black;
	pointer-events: auto;
}


.card-body a:hover{
	background: #ff726f;
	border-radius: 3px;
	text-decoration: none;
	color: white;
	transition: 1s;	
}

.display-4 img{
	padding: 10px;
	size: 10px;
	width: 50%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	
}

.bottom-line h3{
	font-size: 18px;
	display: inline-flex;
	list-style: none;
	color: #dc4842;
	position: sticky;
	color: white;
	white-space: nowrap;
}
	
}




@media only screen and (max-width: 576px) {
.top p{
	width:100%;
	font-family: sans-serif;
	font-size: 0.5em;
	color: white;
	text-align: right;
	margin-bottom:0px;
	
}

.display-4 img{
	padding: 10px;
	size: 10px;
	width: 50%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	filter: brightness(200%);
	
}

.card-body{
	background: rgba(255, 114, 111, 0.5);
	width: 50%;
	height: 300px;
	text-align: center;
	margin-left: 10%;
	z-index: 20;
	position: relative;
	pointer-events: auto;

}

.card-body h4{
	margin-top: 10px;
	font-size: 2em;
	font-family: Impact, Charcoal, sans-serif;
	text-align: center;
	padding-top: 30px;
	font-style: italic;
	
}

.card-body h5{
	font-family: sans-serif; 
	font-size: 1em; 
	color: white;
	padding-top: 10px;
	
}

.card-body h6{
	font-family: sans-serif; 
	font-size: 0.8em; 
	color: white;
	padding-top: 5px;
	
}

.card-body a{
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	color: white;
	background-color: black;
	pointer-events: auto;
}


.card-body a:hover{
	background: #ff726f;
	border-radius: 3px;
	text-decoration: none;
	color: white;
	transition: 1s;	
}

.bottom-line h3{
	font-size: 15px;
	display: inline-flex;
	list-style: none;
	color: #dc4842;
	position: sticky;
	color: white;
	white-space: nowrap;
}

.swiper-slide{
	width: 200px !important;
	height: 1000px;
	
}


.swiper-wrapper{
	height: 300px;
}


.slider-box{
	margin: 20px;
	height: 350px;
	width: 200px;
	position: relative;
	background-color:#FFFFFF;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align:center;
	border: 1px solid rgba(187,187,187,1.00);
}

.slider-box a{
	text-decoration: none;
	text-align: center;
}

.img-box{
	height: 130px;
}

.img-box img{
	height:auto;
	max-width: 100%;
	max-height: 100%;
	margin-top: -50px;
}

.time{
	position: absolute;
	top: 0px;
	right: 20px;
	color: #f16007;
	font-size: 20px;
}

.detail{
	margin-top: -40px;
	display:flex;
	flex-direction:column;
	align-items:center;
	box-sizing:border-box;
	font-size:13px;
	line-height:25px;
}


.price{
	color: #FFFFFF;
	background-color: #FF555b;
	line-height: 20px;
	text-decoration: none;
}

.price:hover{
	text-decoration: none;
	color: black;
}

.cart{
	top: 248px;
	bottom:0px;
	height:32px;
	background-color: #ff696e;
	width:100%;
	display:flex;
	justify-content: center;
	align-items:center;
}

.cart a{
	color: #FFFFFF;
}
.cart a:hover{
	color: #FFFFFF;
}
.slider-box:hover{
	box-shadow:2px 2px 12px rgba(47,47,47,0.40);
}

.slider-box:hover, .img-box img{
	transform:scale(1.03);
	transition:all ease 0.4s;
	
}

.cart:hover{
	transform: scale(1.07);
	background-color: #fe9048;
	box-shadow: 2px 2px 12px rgba(47,47,47,0.40);
	transition: all ease 0.1s;
}


.bottom-box{
	margin-top: 100px;
	height: 200px;
	position: relative;
	background-color: black;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align:center;
	border:1px solid rgba(187,187,187,0.40);
	opacity: 0.70;
}

.bottom-box h2{
	margin-top: 30px;
	text-align:center;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	font-weight: bold;
	font-size: 2em;
	color: white;
	position:relative;
	display:inline-block;
	
}

.text{
	margin-top: -10px;
}

.text h3{
	text-align:left;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: white;
	bottom: 5;
	position:relative;
	margin-left:20;
	margin-right:15;
	
	display:inline-block;
}

.text h3:hover{
	cursor: pointer;
	color: #fff;
	transform: scale(1.15);
	transition: 1s;
	
}
#wrapper{
	
	margin-top: -30;
}
}
